<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs')%>
    <title>Edit Entry</title>
</head>
<body id="edit">
    <%- include('./partials/nav.ejs')%>
    <div class="edit-entry">
        <!-- todo add htmx 'click to edit' functionality -->
        <form class="edit-form" action="/journal/<%=entry._id%>?_method=PUT" method="POST">
                <fieldset>
                    <legend>Was it ... or ...*click* <br> Now I remember, it was called!</legend>
                    <label for="strain"><input type="text" name="strain" id="" value="<%= entry.strain%>"></label> 
                </fieldset>
                <fieldset>
                    <legend>Was it <span class="indica">Indica</span>, <span class="sativa">Sativa</span>, or maybe a <span class="hybrid">Hybrid</span>?</legend>
                        <label for="type"><input type="text" name="type" id="" value="<%= entry.type %>"></label> 
                </fieldset>
                <fieldset>
                    <legend>How much did you really enjoy?</legend>
                    <label for="amount"><input type="text" name="amount" id="" value="<%= entry.amount %>"></label>
                </fieldset>
                <fieldset>
                    <legend>Tell the truth! No shame in what you really used. We have all been there.</legend>
                    <label for="consumptiom">Joint, Bong, Vape, Pipe, Ediblie, Tincture, etc... <input type="text" name="consumption" id="" value="<%= entry.consumption%>"></label> 
                </fieldset>
                <fieldset>
                    <legend>How do you remember your experience now?</legend>
                    <label for="description"><br>
                        <textarea name="description" id="" cols="50" rows="10"  style="resize:none"><%= entry.description %></textarea>
                    </label> 
                </fieldset>
                <input type="submit" value="Update"><a href="/journal"><span class="cancel-btn">Cancel</span></a>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
</body>
</html>