<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs')%>
    <title>CannaNote</title>
</head>
<body id="index">
<%- include('./partials/nav.ejs') %>
<img width="96" height="96" src="https://img.icons8.com/color/96/iron-man.png" alt="iron-man"/>

<img width="96" height="96" src="https://img.icons8.com/color/96/000000/judo.png" alt="judo"/>

<img width="96" height="96" src="https://img.icons8.com/color/96/000000/comedy2.png" alt="comedy2"/>

<img width="96" height="96" src="https://img.icons8.com/color/96/000000/knight.png" alt="knight"/>

<img width="96" height="96" src="https://img.icons8.com/color/96/music-transcript.png" alt="music-transcript"/>
    <main id="feed">
        <% entries.forEach(entry => { %>
            <div id="entry-container" class="row">
            <!-- todo add htmx click to edit functionality -->
                <div class="col m12">
                    <div class="card hoverable blue-green darken-4">
                        <fieldset class="card content Black-text">
                            <span>
                                <legend class="valign-wrapper">
                                    <a class="left" href="/journal/<%=entry._id%>">
                                        <span class="card-title username"><%=entry.username%></span>
                                    </a> 
                                    <label for="strain"><span class="strain"><%= entry.strain%></span></label>
                                    <span class="date-like valign-wrapper"><p class="date-posted"><%=entry.date.toDateString()%></p><span class="valign-wrapper likes"><i class="material-icons">thumb_up_off_alt</i><%= entry.meta.favs%></span>
                                    </span>
                                </legend>
                            </span>
                            <label for="description"> <span class="description">What it was like: </span> <br>
                                <textarea class="materialize-textarea" name="description" id="" cols="100" rows="1" readonly style="resize:none"><%= entry.description%></textarea>
                            </label> <br>
                            <span class="extra-container">
                                <span class="extra1">
                                    <label for="more"><a href="/journal/<%=entry._id%>" class="waves-effect btn waves-light more">More</a></label>
                                    <label for="edit"><a href="/journal/<%=entry._id%>/edit" class="waves-effect waves-light btn edit #ff5252 red accent-2" id="<%= entry.username !== currentUser ? "hidden" : null %>">Edit</a></label>
                                </span>
                                <span class="extra2 valign-wrapper">
                                    <form action=journal/<%=entry._id%>?_method=DELETE" method="POST" id="<%= entry.username !== currentUser ? "hidden" : null%>">
                                        <label for="delete"><input class="waves-effect waves-light btn #b388ff deep-purple accent-1" type="submit" value="Delete"></label>
                                    </form>
                                    <form class="like" id="<%= %>" action="/journal/<%=entry._id%>/like?_method=PUT" method="POST">
                                        <input type="hidden" name="favs" value="1">
                                        <label for="likes"><input class="waves-effect waves-light btn #8bc34a light-green" type="submit" value="Like"></label>
                                    </form>
                                </span>
                            </span>
                        </fieldset>
                    </div>
                </div>
            </div>
        <% })%>
    </main>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
</body>
</html>